In [ ]:
##Description
# Project Goal: Portfolio method that will be useful to the average investor who does not have enough time nor the skills necessary to fully study the market and how it works.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from numpy import array, linspace
from sklearn.neighbors.kde import KernelDensity
from scipy.signal import argrelextrema

plt.style.use('fivethirtyeight')
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

# Data Preprocessing

In [2]:
# Read in the S&P500 Index daily prices
spy = pd.read_csv("./SP500.csv")

# Read in the data for the daily split adjusted price for every stock in the S&P500 since 2010
sp500 = pd.read_csv("./prices-split-adjusted.csv")

In [3]:
spy.head()

         DATE    SP500
0  2013-03-22  1556.89
1  2013-03-25  1551.69
2  2013-03-26  1563.77
3  2013-03-27  1562.85
4  2013-03-28  1569.19

In [4]:
print(min(pd.DatetimeIndex(spy['DATE']).year))
print(max(pd.DatetimeIndex(spy['DATE']).year))
spy13 = spy[pd.DatetimeIndex(spy['DATE']).year == 2013]
print(min(pd.DatetimeIndex(spy13['DATE']).month))

2013
2018
3

In [5]:
sp500.head()

,date,symbol,open,close,low,high,volume
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

In [6]:
print(max(pd.DatetimeIndex(sp500['date']).year))
sp16  = sp500[pd.DatetimeIndex(sp500['date']).year == 2016]
print(max(pd.DatetimeIndex(sp16['date']).month))
sp13  = sp500[pd.DatetimeIndex(sp500['date']).year == 2013]
print(min(pd.DatetimeIndex(sp13['date']).month))

2016
12
1

In [7]:
spy = spy[((pd.DatetimeIndex(spy['DATE']).year > 2013) | ((pd.DatetimeIndex(spy['DATE']).month > 3) & (pd.DatetimeIndex(spy['DATE']).year == 2013))) & (pd.DatetimeIndex(spy['DATE']).year < 2017)]
sp500 = sp500[(pd.DatetimeIndex(sp500['date']).year > 2013) | ((pd.DatetimeIndex(sp500['date']).year == 2013) & (pd.DatetimeIndex(sp500['date']).month > 3))]

In [8]:
set(pd.DatetimeIndex(spy['DATE']).year)

{2013, 2014, 2015, 2016}

In [9]:
set(pd.DatetimeIndex(sp500['date']).year)

{2013, 2014, 2015, 2016}

In [10]:
sp500.drop(['open', 'low', 'high', 'volume'], inplace = True, axis = 1)
sp500 = sp500.set_index('date')
sp500.head()

           symbol       close
date
2016-01-05   WLTW  125.839996
2016-01-06   WLTW  119.980003
2016-01-07   WLTW  114.949997
2016-01-08   WLTW  116.620003
2016-01-11   WLTW  114.970001

In [11]:
spy = spy.set_index('DATE')
spy = spy[spy["SP500"] != '.']
spy['SP500'] = pd.to_numeric(spy['SP500'])
spy.head()

              SP500
DATE
2013-04-01  1562.17
2013-04-02  1570.25
2013-04-03  1553.69
2013-04-04  1559.98
2013-04-05  1553.28

# Functions

In [12]:
def RSS_trend(nums):
    rise = (nums[-1] - nums[0])/len(nums)
    rss = 0
    for i in range(0,len(nums)):
        rss = (nums[i] - (nums[0] + i*rise))**2
    rss = rss/len(nums)
    return rss

def ratio(prices):
    error = RSS_trend(prices)
    return (((((prices[-1] - prices[0])/prices[0])*100)-2.2)/error)

def KDE_cluster(df):
    kde = KernelDensity(kernel='gaussian', bandwidth=3).fit(df['ratio'])
    s = linspace(0,max(df['ratio']))
    e = kde.score_samples(s.reshape(-1,1))
    # plot(s, e)
    minimum = s[argrelextrema(e, np.less)[0]] #?

In [20]:
sp13q1 = sp500[(pd.DatetimeIndex(sp500.index.values).year == 2013) & ((pd.DatetimeIndex(sp500.index.values).month == 4) | (pd.DatetimeIndex(sp500.index.values).month == 5) | (pd.DatetimeIndex(sp500.index.values).month == 6))]

In [ ]:
# Create a dictionary with ticker symbol as key and modified sharpe ratio as value
    vals = {key: 0 for key in list(df.columns.values)}
    for name in list(df.columns.values):
        vals[name] = ratio(list(df[name]))
    
    # Coerce Dictionary to dataframe
    stocks = pd.DataFrame(list(vals.items()), columns = ['ticker', 'ratio'])
    stocks.sort_values(by=['ratio'], inplace = True, ascending = False)

In [22]:
sp13q1 = sp13q1.pivot(columns='symbol')
sp13q1.columns = [col[1] for col in sp13q1.columns]
sp13q1.fillna(method = 'ffill', inplace = True)
sp13q1.fillna(method = 'bfill', inplace = True)
sp13q1.head()

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACN,ADBE,ADI,...,XLNX,XOM,XRAY,XRX,XYL,YHOO,YUM,ZBH,ZION,ZTS
date,,,,,,,,,,,,,,,,,,,,,
2013-04-01,29.277540,16.67,82.339996,61.272858,41.119999,51.639999,35.310001,75.849998,43.380001,45.410000,...,37.650002,90.769997,42.110001,8.60,27.250000,23.500000,51.164632,75.129997,24.780001,32.590000
2013-04-02,29.084406,15.74,82.830002,61.398571,40.709999,52.410000,36.119999,76.669998,43.849998,45.200001,...,37.279999,90.580002,41.619999,8.85,27.219999,23.780001,50.431344,75.330002,24.480000,32.549999
2013-04-03,28.984263,15.53,82.120003,61.712856,40.570000,51.689999,36.320000,76.599998,43.700001,44.060001,...,36.209999,89.930000,40.869999,8.56,27.120001,23.379999,48.554998,74.459999,23.879999,32.529999
2013-04-04,29.620888,15.69,82.199997,61.102856,41.599998,51.820000,36.650002,76.610001,44.209999,43.740002,...,36.810001,89.769997,41.230000,8.66,27.719999,23.520000,48.691590,75.250000,24.139999,31.840000
2013-04-05,29.713877,15.72,80.949997,60.457142,41.310001,52.080002,36.310001,76.250000,43.380001,43.610001,...,36.360001,89.010002,40.730000,8.63,27.600000,23.299999,48.145219,74.029999,23.879999,31.959999